@model IEnumerable<Application_Echange_de_livre.Model.Book>

@{
    ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

    <title>Index</title>
    <h2>Books Liste</h2>

<br />
<br />
<div class="container">
    <p>
       

    </p>
</div>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table id="books">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookState)
            </th>

            <th>Manage Books</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookState)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @Html.ActionLink("Exchange", "Exchange", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <style>

        #books {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #books td, #books th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #books tr:nth-child(even) {
                background-color: #f7f0f0;
            }

            #books tr:hover {
                background-color: #dbc0e6;
            }

            #books th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #9a7be8;
                color: white;
            }
    </style>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/User/Index?page=@ViewBag.PreviousPage">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">@ViewBag.Page</a></li>
            <li class="page-item"><a class="page-link" href="/User/Index?page=@ViewBag.Next">Next</a></li>
        </ul>
    </nav>

    <br />
    <div class="d-flex justify-content-end">
        Page @ViewBag.Page sur @ViewBag.TotalPages
    </div>

</body>

