@model IEnumerable<Application_Echange_de_livre.Model.Book>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Search</h2>
<div class="container">
    <p>
        @using (Html.BeginForm("Index", "Book", FormMethod.Get))
        {
            <div class="col-sm-6">
                <input type="text" name="searchT" placeholder="Title" class="form-control" />
            </div>
            <div class="col-sm-6">
                <input type="text" name="searchI" placeholder="ISBN" class="form-control" />
            </div>
            <div class="col-sm-6">
                <input type="text" name="searchC" placeholder="Collection" class="form-control" />
            </div>
            <div class="col-sm-6">
                <input type="text" name="searchE" placeholder="Editor" class="form-control" />
            </div>
            <div class="col-sm-6">
                <input type="text" name="searchED" placeholder="Edition Date" class="form-control" />
            </div>
            <div class="col-sm-6">
                <input type="text" name="searchP" placeholder="Price" class="form-control" />
            </div>
            <div class="col-sm-6">
                <input type="text" name="searchSub" placeholder="SubTitle" class="form-control" />
            </div><br/>
            <div class="col-sm-6">
                <input type="submit" value="Rechercher" style="color: #6a64f1" />
            </div>
        }

    </p>
</div>
<table id="Search">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookState)
        </th>

        <th>Manage Books</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookState)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                @Html.ActionLink("Exchange", "Exchange", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<style>

    #Search {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
    }

        #Search td, #Search th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #Search tr:nth-child(even) {
            background-color: #f7f0f0;
        }

        #Search tr:hover {
            background-color: #dbc0e6;
        }

        #Search th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #9a7be8;
            color: white;
        }
</style>
