@model IEnumerable<Application_Echange_de_livre.Model.Abonnement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Subscribers</h2>


<table id="Subscribers">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateAbo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAbo)
        </th>
        <th>Manage Subscribers</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAbo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAbo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Create New", "Create")
            </td>
        </tr>
    }

</table>

<style>

    #Subscribers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 60%;
    }

        #Subscribers td, #Subscribers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #Subscribers tr:nth-child(even) {
            background-color: #f7f0f0;
        }

        #Subscribers tr:hover {
            background-color: #dbc0e6;
        }

        #Subscribers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #9a7be8;
            color: white;
        }
</style>
