@model IEnumerable<Echange_Livres.DTOs.AuthorDTO>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="author">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <style>

        #author {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #author td, #author th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #author tr:nth-child(even) {
                background-color: #f7f0f0;
            }

            #author tr:hover {
                background-color: #dbc0e6;
            }

            #author th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #9a7be8;
                color: white;
            }
    </style>
</body>
</html>
