@model IEnumerable<Application_Echange_de_livre.Model.BookExchange>

@{
    ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="BookEx">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>Manage BookExchanges</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<style>

    #BookEx {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #BookEx td, #BookEx th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #BookEx tr:nth-child(even) {
            background-color: #f7f0f0;
        }

        #BookEx tr:hover {
            background-color: #dbc0e6;
        }

        #BookEx th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #9a7be8;
            color: white;
        }
</style>
